@import "src/common/styles/sass/Variables";

.projectsBlock {
  min-height: 60vh;
  background-color: $bgColor;
  padding-top: 30px;
  justify-items: center;
  align-items: center;
  padding-bottom: 50px;



  .projectsContainer {
    flex-direction: column;
    /*border: 1px solid green;*/
    flex-wrap: wrap;
    justify-content: space-between;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-around;
      gap: 20px;
      flex-wrap: wrap;
      margin-top: 20px;
      box-sizing: border-box;
      @media screen and (max-width: 655px) {
        justify-content: center;
      }
    }
  }
}







