.projectsBlock {
    min-height: 100vh;
    background-color: #212529;
    display: flex;
    justify-items: center;
    align-items: center;

}

.projectsContainer {
    flex-direction: column;
    border: 1px solid green;
    flex-wrap: wrap;
    justify-content: space-between;
}


.projects {
    flex: 9;
    border: 1px solid crimson;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

@media screen and (max-width: 655px) {
    .projects {
        justify-content: center;
    }
}
