.projectsBlock {
    height: 100vh;
    background-color: cornflowerblue;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #FFFFFFBA;
}

.projects {
    border: 1px solid crimson;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}