@import "src/common/styles/sass/Variables";

.skillsBlock {
  min-height: 80vh;
  background-color: $bgSecondColor;
  padding-top: 30px;
  padding-bottom: 30px;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 100px;
      box-sizing: border-box;
    }

    @media screen and (max-width: 1130px) {
      .skills {
        justify-content: center;
      }
    }
  }
}






