.skillsBlock {
    min-height: 50vh;
    background-color:#343a40;
    padding-top: 30px;
    padding-bottom: 30px;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #FFFFFFBA;
}

.skills {
    /*border: 1px solid crimson;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 1130px){
    .skills {
        justify-content: center;
    }
}