.title {
  margin-bottom: 30px;
  position: relative;

  h2 {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
  }

  &::before {
    content: '';
    position: absolute;
    background: #f5df4e;
    width: 75px;
    height: 1px;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 50%);

  }
}



