@import "src/common/styles/sass/Variables";

.header {

  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: $bgHeaderColor;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

