@import "src/common/styles/sass/Variables";

.remoteWorkBlock {
  background-color: $bgSecondColor;
  padding-top: 30px;
  padding-bottom: 30px;

  .remoteWorkContainer {
    flex-direction: column;
    justify-content: flex-start;

    .button {
      margin-top: 40px;

      & button {
        background-color: $primaryColor;
      }
    }
  }
}





