.remoteWorkBlock {
    background-color: #343a40;
    padding-top: 30px;
    padding-bottom: 30px;
}

.remoteWorkContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #FFFFFFBA;
}
.button {
    margin-top: 40px;
}
