@import "src/common/styles/sass/Variables";

.footerBlock {
  background-color: $bgColor;
  padding-top: 30px;
  padding-bottom: 10px;

  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .blockContainer {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    .title {
      background-color: $bgSecondColor;
      font-family: $titleFontFamily;
      color: $textColor;
    }
  }
}

.href {
  font-family: $titleFontFamily;
  color: $primaryColor;
}

.icons {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-evenly;
}



