@import "./Variables";

@mixin text($fontFamily,$lineHeight,$fontSize) {
  font-family:$fontFamily;
  line-height: $lineHeight;
  font-size: $fontSize;
  color: $textColor;
}

@mixin container(){
  width: 80%;
  margin: 0 auto;
}

@mixin flex($direction, $justifyContent, $alignItems, $wrap){
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
}