$textColor: #fff;
$primaryColor:  #f5df4e;
$bgColor:  #212529;
$bgSecondColor: #343a40;
$bgHeaderColor:  #f5df4e;

$textFontFamily: 'Poppins', sans-serif;
$titleFontFamily: 'Josefin Sans', sans-serif;