@import "src/common/styles/sass/Variables";
@import "src/common/styles/sass/Mixins";

.nav {
  width: 400px;
  display: flex;
  justify-content: space-evenly;

  & a {
    @include text($titleFontFamily, 20px, 1.2, 700);
    color: $bgColor;
    text-decoration: none;
    transition: 0.5s ease-in-out;
  }

  :hover {
    transform: scale(1.5);
  }

  .active {
    transform: scale(1.5);
  }
}




