@import "src/common/styles/sass/Variables";
@import "src/common/styles/sass/Mixins";

.nav {
  /*border: 1px solid crimson;*/

  width: 300px;
  display: flex;
  justify-content: space-evenly;

  & a {
    @include text($titleFontFamily,20px, 1.2, 700);
    color: $bgColor;
    text-decoration: none;
  }

  :hover {
    text-decoration: underline $bgColor;
  }
}




