.contactsBlock {
    height: 100vh;
    background-color: darksalmon;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #FFFFFFBA;
}
