@import "src/common/styles/sass/Variables";
@import "src/common/styles/sass/Mixins";
@import "src/common/components/button/Button.module";


.contactsBlock {
  min-height: 20vh;
  background-color: $bgSecondColor;
  padding-top: 30px;
  padding-bottom: 30px;

  .contactsContainer {
    display: flex;
    gap: 10px;
    align-items: flex-start;

    @media screen and (max-width: 800px) {

      flex-direction: column;
    }

    .summary {
      @include text($titleFontFamily, 20px, 1.5, 700);
      letter-spacing: 1px;
      padding: 30px;

    }

    .form {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $bgSecondColor;
      padding: 30px;
      //margin-left: 150px;
      gap: 10px;

      .name {

        @include text($titleFontFamily, 20px, 1.5, 700);
        letter-spacing: 1px;
        //color: $primaryColor;
      }

      .form input, .form textarea {
        width: 100%;
      }

      .input {
        padding: 0.5rem 0;
        border: none;
        border-bottom: 2px solid $primaryColor;
        margin-bottom: 1rem;
        resize: none;
        background-color: transparent;
        font-size: 18px;
        transition: 0.3s ease-in-out;
        color: $textColor;
        @include text($textFontFamily, 15px, 1.5, 400);


        &:focus {
          outline: none;
          border-color: black;
          background-color: $primaryColor;
          color: rgb(0, 0, 0);
        }
      }

      .textarea {
        resize: none;
        padding: 0.5rem 0;
        border: none;
        border-bottom: 2px solid $primaryColor;
        margin-bottom: 1rem;
        resize: none;
        background-color: transparent;
        font-size: 18px;
        transition: 0.3s ease-in-out;
        color: $textColor;
        @include text($textFontFamily, 15px, 1.5, 400);

        &:focus {
          outline: none;
          border-color: black;
          background-color: $primaryColor;
          color: rgb(0, 0, 0);
        }
      }

      button {
        @include container();
        @extend .btn;
        max-width: 50%;
        background-color: $bgSecondColor;

        &:hover {
          color: $bgColor;

          &::after {
            height: 100%;
          }
        }

      }

    }

    @media screen and (max-width: 450px) {
      .form {
        width: 100%;
      }
    }
  }
}

.block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;

}

.write {
  color: $primaryColor;
}

.formAll {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonCvblock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonCv button {
  margin-top: 100px;
  margin-bottom: 50px;
  background-color: $bgSecondColor;
  color: $textColor;
  border: 2px solid $textColor;
  padding: 12px 75px;
  transition: 0.5s;
  @include text($titleFontFamily, 17px, 1.9, 800);

  &:hover {
    background-color: $primaryColor;
    color: $bgColor;
    border: 2px solid $textColor;
  }

  &:active {
    background-color: $primaryColor;
    color: $bgColor;
    border: 2px solid $primaryColor;
  }
}

.loadingWrapper {
  position: absolute;
  z-index: 1;
  width: 105%;
  height: 105%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: -16px;
  right: -9px;
  border-radius: 10px;

  .loading {
    border: 3.5px solid #f5df4e;
    border-top: 3.5px solid black;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1.3s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}



