@import "src/common/styles/sass/Variables";
@import "src/common/styles/sass/Mixins";
@import "src/common/components/button/Button.module";
.contactsBlock {
  min-height: 20vh;
  background-color: $bgColor;
  padding-top: 30px;
  padding-bottom: 30px;

  .contactsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .form {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $bgColor;
      margin-top: 20px;
      gap: 10px;

      .form input, .form textarea {
        width: 100%;
      }

      .input {
        background-color: silver;
      }

      .textarea {
        resize: none;
        background-color: silver;
      }

      button {
        @include container();
        @extend .btn;
        max-width: 50%;

        //margin-bottom: 10px;
        background-color: $bgColor;
        //height: 30px;
        //color:  $bgColor;

        &:hover {
          color: $bgSecondColor;
          &::after {
            height: 100%;
          }
        }

      }

    }

    @media screen and (max-width: 450px) {
      .form {
        width: 100%;
      }
    }
  }
}


