.contactsBlock {
    min-height: 20vh;
    background-color: coral;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #FFFFFFBA;
}

.form {
    background-color: darksalmon;
    margin-top: 20px;
}

.button {
    margin-top: 20px;
}
